body {
  font-family: "Rock Salt", "Helvetica Neue", "helvetica", "arial", "sans-serif";
  margin: 2em;
}

table {
  text-align: center;
  width: 100%;
  border: solid 4px #800080;
  border-collapse: collapse;
}

thead,
tfoot {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("leopardskin.jpg");
  font-family: "Rock Salt";
  color: #fff;
}

th {
  padding: 1%;
  border: solid 4px #800080;
}

tbody {
  border-collapse: collapse;
  font-family: "helvetica";
  font-weight: 800;
}

td {
  padding: 1%;
  background: url("noise.png");
  opacity: 0.8;
}

.table-row-dark-background {
  background-color: #ff33cc;
}
.table-row-light-background {
  background: #e495e4;
}

tfoot td {
  border: solid 4px #800080;
  column-span: 2;
}
.table-footer-left-cell {
  text-align: right;
}
.table-footer-right-cell {
  text-align: left;
}

.glitchButton {
  text-align: right;
}
